1. What are data structures, and why are they important?

 Ans: A data structure is a way of organizing, storing, and managing data in a computer so that it can be used efficiently.

 1.Well-chosen data structures improve the efficiency of algorithms by reducing time and space complexity.
 2.Certain problems can only be solved efficiently using specific data structures. For example, graphs are used for network routing problems.

 3.Efficient data structures help handle large amounts of data, which is crucial in fields like databases, AI, and web applications.

2. Explain the difference between mutable and immutable data types with examples.
  
  Ans: In immutable data types we can't do any changes to the datas where in mutable datatypes we can perform changes at any time by ourselves.

3. What are the main differences between lists and tuples in Python?
  
  Ans: Tuples are immutable meaning you can't perform any changes to it and lists are mutable meaning you can change the datas at any time.
4. Describe how dictionaries store data.

  Ans: Dictionaries in Python store data as key-value pairs using a hash table.
      
      Structure:
      
      1.Each key is unique and hashed to determine its storage location.
      
      2.The value is stored at the computed index in memory.
      
      3.Python uses open addressing to handle hash collisions.
5. Why might you use a set instead of a list in Python?
  
  Ans: In lists we can use any values as much as we want but when performing operations with them we would have to consider everything but in set those multiple times values can be handled by converting them into single values.That means to eliminate duplicates I may use sets.
6.  What is a string in Python, and how is it different from a list?
  
  Ans:A string in Python is a sequence of characters enclosed in quotes (' ', " ", ''' ''', """ """). It is an immutable data type. And Lists are mutable.
7. How do tuples ensure data integrity in Python?

  Ans: Tuples ensure data integrity by being immutable, meaning their elements cannot be changed, added, or removed after creation. This prevents accidental modifications, making them ideal for storing fixed, reliable data.
8.  What is a hash table, and how does it relate to dictionaries in Python?

  Ans: A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index where the value associated with a key is stored. This allows for fast lookups, insertions, and deletions on average.
9. Can lists contain different data types in Python?

  Ans: Yes, Lists can contain different data types in python like:- string,integers,booleans,floats etc.
10. Explain why strings are immutable in Python.
  
  Ans: Example:
    str = "Rafsan"
    str[0] = "Z"
    print(str)
      
      it will show an error as strings are immutable.
11. What advantages do dictionaries offer over lists for certain tasks?

  Ans:

  1.Dictionaries provide O(1) average time complexity for accessing, inserting, or deleting items using keys. In contrast, lists require O(n) time for searching elements because they are indexed by position.
  2.Dictionaries store data as key-value pairs, making them ideal for tasks where you need to associate specific data.Lists store data sequentially, which can be inefficient when associating values with specific identifiers.
12. Describe a scenario where using a tuple would be preferable over a list.

  Ans: Fo example: I am working on a geographic scnes where I need to work on many cordinates like latitudes,longtitudes for different locations and as these are geographic values these can't be changed. So in for those cases we can use tuples instead of lists for strong holds of the datas.
13. How do sets handle duplicate values in Python?

  Ans: In Python, sets automatically remove duplicate values. When you try to add an element to a set that already exists in the set, the set will ignore the new element, ensuring that each element is unique. Sets set the datas unorderly as they are unordered data structure.
14. How does the “in” keyword work differently for lists and dictionaries?

  Ans: The in keyword in Python is used to check if an element exists in a collection like a list or dictionary, but its behavior differs based on the type of collection.

  1.When you use in with a list, Python checks whether the element exists in the list. This means it will iterate over each item in the list and return True if it finds a match.
  
  2.When you use in with a dictionary, Python checks if the key exists in the dictionary (not the value). It looks for the key in the dictionary's internal structure (hash table).
15. Can you modify the elements of a tuple? Explain why or why not?

  Ans: No, I can't modify the elements of a tuple. Because tuples are immutable.We can't change its datas. They fix the memory locations for each datas.
16. What is a nested dictionary, and give an example of its use case?

  Ans: A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to create more complex data structures where each key can hold another dictionary, enabling multi-level data storage.
   
   Structure of a Nested Dictionary:
  The outer dictionary contains keys.
  The values corresponding to those keys are themselves dictionaries, and those dictionaries can also have their own keys and values.
  Example:
    students = {
    "Alice": {
        "age": 20,
        "grades": {"math": 95, "science": 90, "history": 88}
    },
    "Bob": {
        "age": 22,
        "grades": {"math": 78, "science": 85, "history": 92}
    },
    "Charlie": {
        "age": 21,
        "grades": {"math": 89, "science": 94, "history": 90}
    }
17. Describe the time complexity of accessing elements in a dictionary.

  Ans: Average case:
  
  The time complexity for accessing an element in a dictionary (using the key) is O(1) on average. This is because hash tables use the key's hash value to quickly find the location of the corresponding value in constant time.
  
  Worst cas:

  The worst-case time complexity is O(n), which can occur when there are a large number of hash collisions.   
18. In what situations are lists preferred over dictionaries?
  
  Ans:

  1.Lists maintain the order of elements.

  2.Lists can store duplicate elements, whereas dictionaries automatically remove duplicates since they rely on keys for access.

  3.Lists allow you to access elements by their index

  4.Lists are better when you need to iterate over the elements in order, especially when the order is significant or you want to perform some operation on each element sequentially.

 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  Ans:
  Dictionaries in Python are considered unordered because their elements are stored in a hash table rather than in a sequence. When you add key-value pairs to a dictionary, Python doesn't guarantee any specific order for how the items are stored or retrieved.
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  
  Ans:In Python, lists and dictionaries handle data retrieval differently. Lists are ordered collections, and data retrieval is done via an index, making it efficient (O(1)) when accessing elements by position. However, searching for an item by value in a list takes O(n) time since it requires iterating through all the elements. On the other hand, dictionaries store data in key-value pairs and use a hash table to quickly retrieve values using a specific key. This gives them an average access time of O(1) for key-based lookups. While dictionaries are unordered, they are much faster for retrieving data by key compared to lists, which are more suitable when order is important.

In [2]:
#1.Write a code to create a string with your name and print it.
name = "Rafsan Kabir"
print(name)

Rafsan Kabir

In [3]:
#2. Write a code to find the length of the string "Hello World".
greetings = "Hello World"
print(len(greetings))

11

In [6]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming".
line = "Python Programming"
print(line[0:3])

Pyt

In [8]:
#4. Write a code to convert the string "hello" to uppercase.
string = "Hello"
new_str = string.upper()
print(new_str)

HELLO

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_str = string.replace("apple","orange")
print(new_str)

I like orange

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [13]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [19]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tple = (100,200,300)
print(tple)

(100, 200, 300)

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tple = ('red', 'green', 'blue', 'yellow')
print(tple[1:])

('green', 'blue', 'yellow')

In [22]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tple = (10, 20, 5, 15)
minimum_val = min(tple)
print(minimum_val)

5

In [25]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tple = ('dog', 'cat', 'rabbit')
for i in range(len(tple)):
  if 'cat' in tple[i]:
    print(i)

1

In [29]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tple = ("apple","mango","pinapple")
found = 0
for i in range(len(tple)):
  if "kiwi" in tple[i]:
    found = 1
  else:
    found = 0
if (found):
  print("True")
else:
  print("False")

False

In [33]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
st = {'a','b','c'}
print(st)

{'b', 'c', 'a'}

In [35]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
st = {1, 2, 3, 4, 5}
st.clear()
print(st)

set()

In [36]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
st = {1, 2, 3, 4}
st.remove(4)
print(st)

{1, 2, 3}

In [40]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
st1 = {1, 2, 3}
st2 = {3, 4, 5}
print(st1 | st2)

{1, 2, 3, 4, 5}

In [41]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
st1 = {1, 2, 3}
st2 = {2, 3, 4}
print(st1 & st2)

{2, 3}

In [42]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dct = {"name":"Rafsan","age":20,"city":"Dhaka"}
print(dct)

{'name': 'Rafsan', 'age': 20, 'city': 'Dhaka'}

In [43]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dct =  {'name': 'John', 'age': 25}
dct["country"]="USA"
print(dct)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [44]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dct = {'name': 'Alice', 'age': 30}
print(dct['name'])

Alice

In [46]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dct = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dct.pop('age')
print(dct)

{'name': 'Bob', 'city': 'New York'}

In [48]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dct = {'name': 'Alice', 'city': 'Paris'}

if "city" in dct:
    print("YES")
else:
    print("NO")

YES

In [49]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1,2,3,4,5]
tple = ("a","b","c")
dct = {"name":"rafsan","age":20}
print(lst)
print(tple)
print(dct)

[1, 2, 3, 4, 5]
('a', 'b', 'c')
{'name': 'rafsan', 'age': 20}

In [64]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced).
import random as rand
for i in range(5):
  lst=[rand.randint(1,100),rand.randint(1,100),rand.randint(1,100),rand.randint(1,100),rand.randint(1,100)]
lst.sort()
print(lst)

[14, 42, 70, 73, 86]

In [65]:
#28. Write a code to create a list with strings and print the element at the third index.
lst = ["Rafsan","Apple","Dhaka","Nagar"]
print(lst[2])

Dhaka

In [71]:
#29. Write a code to combine two dictionaries into one and print the result
dct1 ={"name":"Rafsan","age":20}
dct2 = {"city":"dhaka","Time":3.30}
print(dct1 | dct2)

{'name': 'Rafsan', 'age': 20, 'city': 'dhaka', 'Time': 3.3}

In [79]:
#30.  Write a code to convert a list of strings into a set.
lst = ["Rafsan","Dhaka","Rafsan","Kabir","Lol","Kabir","Bad day"]
print(set(lst))

{'Kabir', 'Dhaka', 'Bad day', 'Rafsan', 'Lol'}